$clr-blue-5:#270041;
$clr-blue-10:#3d008d;
$clr-blue-20:#44009c;

$clr-white-10:#faf6ff;
$clr-white-20:#fff;

$clr-grey-30:#ccc;

$clr-pink-20:#f391e3;
$clr-pink-30:#edd2ff;

$clr-purple-10:#71008d;
$clr-purple-20:#8d007a;

$clr-error:#df1818;

$clr-black:#252525;

$clr-shadow-light:rgba(0, 0, 0, 0.26);
$clr-shadow-heavy:rgba(0, 0, 0, 0.75);